.button {
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;

  &--primary {
    background-color: $btn-color-main;
    color: $text-color-btn-main;
  }

  &--secondary {
    background-color: $btn-color-second;
    color: $text-color-btn-second;
  }
}

