.catalog {
  background-color: $bg-color-second;
  text-align: center;
}

.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}


@media (min-width: $tablet-width) {
  .catalog__wrapper {
    width: 768px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    width: 1440px;
  }

  .catalog__column-container {
    display: grid;
    grid-template-columns: 318px 1011px;
  }

  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
