.copyright {
  text-align: center;
}

.copyright__text {
  color: $text-color-transparent;

  @include text-size(400, 12px, 16px);
}

.copyright__link {
  color: $text-color-transparent;
  text-decoration: none;

  @include text-size(400, 12px, 16px);

  &:hover {
    color: $text-color-badge;
  }

  &:focus,
  &:focus-within {
    outline: none;
    color: $text-color-badge;
  }

  &:active {
    color: $btn-color-active;
  }
}

.copyright__icon {
  vertical-align: middle;
}
