.main-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 60px;
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.main-header__logo-wrapper {
  margin-top: 12px;
}

.main-header__logo {
  width: 32px;
  height: 36px;
  margin: 0;
}

.main-header__logo-text {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    width: 728px;
    min-height: 80px;
  }

  .main-header__logo-wrapper {
    margin-top: 22px;
  }

  .main-header__logo {
    width: 82px;
    height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    width: 1360px;
  }

  .main-header__logo-wrapper {
    display: flex;
  }

  .main-header__logo {
    width: 170px;
    height: 36px;
    margin-right: 20px;
  }

  .main-header__logo-text {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    width: 126px;

    @include text-size(400, 12px, 16px);
  }
}
