.pagination__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination__button {
  position: relative;
  padding: 8px;
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;

  @include text-size(400, 16px, 24px);

  &--current {
    font-weight: 600;
    background-color: transparent;
    color: #333333;
    pointer-events: none;
  }

  &:disabled {
    background-color: $btn-color-light-disabled;
    color: $btn-color-second;
  }

  &--text {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .pagination__list {
    justify-content: flex-end;
  }

  .pagination__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .pagination__button {
    &--back,
    &--forward {
      &::before {
        display: none;
      }
    }

    &--text {
      display: inline;
      padding: 8px 20px;
    }
  }

  .pagination__icon {
    display: none;
  }
}
