.product-card {
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 40px;
  background-color: $bg-color-main;
  border-radius: 4px;
}


.product-card__link {
  text-decoration: none;
}

.product-card__image {
  margin: 0 auto;
}

.product-card__title {
  text-align: start;
  color: $text-color-main;

  @include text-size(700, 18px, 32px);
}

.product-card__description {
  text-align: start;

  @include text-size(400, 14px, 20px);
}

.product-card__button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-card__price {
  @include text-size(600, 20px, 32px);
}

.product-card__button {
  position: relative;
  display: block;
  width: 141px;
  padding: 8px 20px;
  padding-left: 46px;

  @include text-size(400, 14px, 20px);

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 16px;
    top: 10px;
    left: 20px;
    background-image: url("../img/basket-button.svg");
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    margin-bottom: 0;
    padding: 30px;
    padding-top: 50px;

    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }

    &:focus,
    &:focus-within {
      outline: none;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }
  }

  .product-card__title {
    @include text-size(700, 24px, 36px);
  }
}
