.range__container {
  margin-bottom: 35.5px;
}

.range__scale {
  position: relative;
  height: 2.09px;
  background-color: $bg-color-range-scale;
}

.range__bar {
  position: absolute;
  height: 4.18px;
  width: 225px;
  background-color: $bg-color-range-bar;
  top: -0.92px;
}

.range__toggle {
  position: absolute;
  margin: 0;
  width: 24px;
  height: 24px;
  background-color: $bg-color-main;
  border-radius: 50%;
  border: 2px solid $bg-color-range-bar;

  &--min {
    top: -11px;
    left: -12px;
  }

  &--max {
    top: -11px;
    left: 213px;
  }
}

.range__toggle:hover,
.range__toggle:focus,
.range__toggle:focus-within {
  cursor: pointer;
  outline: none;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(120, 89, 207, 0.25);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.range__toggle:active,
.range__toggle--active {
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #7859cf;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.range--disabled .range__bar {
  background-color: $bg-color-range-bar-disabled;
}

.range--disabled .range__toggle {
  border: 2px solid $bg-color-range-bar-disabled;
  background-color: $bg-color-second;
  cursor: text;

  &::before,
  &::after {
    background-color: transparent;
  }
}


.range__input-container {
  display: flex;
  align-items: center;
}

.range__input-data {
  width: 118px;
  height: 38px;
  padding: 7px 10px;
  border: 2px solid $bg-color-range-bar;
  border-radius: 4px;
  text-align: center;
  font-family: $main-font;

  @include text-size(500, 16px, 24px);
}

.range__input-data::placeholder {
  color: #bdbdbd;
}

.range__input-data:hover,
.range__input-data:focus,
.range__input-data:focus-within {
  outline: none;
  border-color: #593cac;
}

.range--disabled .range__input-data,
.range__input-data:disabled {
  border-color: #e2e2e2;
  background-color: $bg-color-second;
  color: $text-color-transparent;
}

.range__input-dash {
  margin-left: 17px;
  margin-right: 17px;
  position: relative;
  width: 8.81px;
  height: 2.09px;
  background-color: $text-color-transparent;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media (min-width: $tablet-width) {
  .range__container {
    width: 240px;
    padding-left: 15px;
    padding-right: 21px;
  }

  .range__scale {
    height: 2px;
  }

  .range__bar {
    width: 177px;
    height: 4px;
  }

  .range__toggle {
    &--max {
      left: 164px;
    }
  }

  .range__input-data {
    width: 93px;
  }

  .range__input-dash {
    width: 6.82px;
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (min-width: $desktop-width) {
  .range__container {
    width: 100%;
    padding: 0;
  }

  .range__scale {
    width: 100%;
    padding-left: 12px;
  }

  .range__bar {
    width: 274px;
  }

  .range__toggle {
    &--max {
      left: 262px;
    }
  }

  .range__input-data {
    width: 134px;
  }

  .range__input-dash {
    width: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
