.slide {
  display: block;
  text-align: center;
  padding: 310px 20px 60px 20px;

  &--flat-white {
    background-image: url("../img/flat-white-mobile.png");
    background-repeat: no-repeat;
    background-position: center 20px;
    background-color: $bg-color-slide-flat-white;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/flat-white-mobile@2x.png");
      background-size: 280px 280px;
    }
  }

  &--lavender {
    background-image: url("../img/lavender-mobile.png");
    background-repeat: no-repeat;
    background-position: center 20px;
    background-color: $bg-color-slide-lavender;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/lavender-mobile@2x.png");
      background-size: 280px 280px;
    }
  }

  &--espresso {
    background-image: url("../img/espresso-mobile.png");
    background-repeat: no-repeat;
    background-position: center 20px;
    background-color: $bg-color-slide-espresso;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/espresso-mobile@2x.png");
      background-size: 280px 280px;
    }
  }
}

.slide__badge {
  padding: 0;

  @include text-size(700, 12px, 16px);
}

.slide__title {
  margin: 0;
  padding: 0;
  padding-top: 4px;

  @include text-size(700, 36px, 48px);
}

.slide__description {
  margin-top: 10px;
  margin-bottom: 20px;

  @include text-size(400, 14px, 20px);
}

.slide__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide__old-price {
  color: $text-color-badge;
  text-decoration: line-through;
  padding-right: 6px;

  @include text-size(400, 16px, 32px);
}

.slide__new-price {
  padding-right: 20px;

  @include text-size(600, 20px, 32px);
}

.slide__button {
  display: inline-block;
  width: 113px;

  @include text-size(400, 16px, 24px);
}

@media (min-width: $tablet-width) {
  .slide {
    padding: 60px 40px 496px 40px;

    &--flat-white {
      background: url("../img/flat-white-tablet.png"),
        linear-gradient($bg-color-slide-flat-white 77%, #ffffff 77%);
      background-repeat: no-repeat;
      background-position: bottom;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/flat-white-tablet@2x.png"),
          linear-gradient($bg-color-slide-flat-white 77%, #ffffff 77%);
        background-size: 476px 476px, 100% 100%;
      }
    }

    &--lavender {
      background: url("../img/lavender-tablet.png"),
        linear-gradient($bg-color-slide-lavender 77%, #ffffff 77%);
      background-repeat: no-repeat;
      background-position: bottom;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/lavender-tablet@2x.png"),
          linear-gradient($bg-color-slide-lavender 77%, #ffffff 77%);
        background-size: 476px 476px, 100% 100%;
      }
    }

    &--espresso {
      background: url("../img/espresso-tablet.png"),
        linear-gradient($bg-color-slide-espresso 77%, #ffffff 77%);
      background-repeat: no-repeat;
      background-position: bottom;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/espresso-tablet@2x.png"),
          linear-gradient($bg-color-slide-espresso 77%, #ffffff 77%);
        background-size: 476px 476px, 100% 100%;
      }
    }
  }

  .slide__title {
    @include text-size(700, 56px, 80px);
  }

  .slide__description {
    width: 608px;
    margin-left: 60px;
    margin-top: 16px;

    @include text-size(400, 20px, 32px);
  }
}

@media (min-width: $desktop-width) {
  .slide {
    padding: 180px 80px 242px 735px;
    text-align: left;

    &--flat-white {
      background: url("../img/flat-white-desktop.png"),
        $bg-color-slide-flat-white;
      background-repeat: no-repeat;
      background-position: 105px 30px;

      @media (min-resolution: 2dppx) {
        background: url("../img/flat-white-desktop@2x.png"),
          $bg-color-slide-flat-white;
        background-size: 600px 600px, 100% 100%;
        background-repeat: no-repeat;
        background-position: 105px 30px;
      }
    }

    &--lavender {
      background: url("../img/lavender-desktop.png"),
        $bg-color-slide-lavender;
      background-repeat: no-repeat;
      background-position: 105px 30px;

      @media (min-resolution: 2dppx) {
        background: url("../img/lavender-desktop@2x.png"),
          $bg-color-slide-lavender;
        background-size: 600px 600px, 100% 100%;
        background-repeat: no-repeat;
        background-position: 105px 30px;
      }
    }

    &--espresso {
      background: url("../img/espresso-desktop.png"),
        $bg-color-slide-espresso;
      background-repeat: no-repeat;
      background-position: 105px 30px;

      @media (min-resolution: 2dppx) {
        background: url("../img/espresso-desktop@2x.png"),
          $bg-color-slide-espresso;
        background-size: 600px 600px, 100% 100%;
        background-repeat: no-repeat;
        background-position: 105px 30px;
      }
    }
  }

  .slide__description {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 40px;
  }

  .slide__button-wrapper {
    justify-content: flex-start;
  }
}
