.user-list {
  display: flex;
  margin: 0;
  margin-right: 60px;
  padding-inline-start: 0;
}

.user-list__item {
  list-style: none;
  padding: 22px;
}

.user-list__link {
  margin: 0;
  padding: 0;
  line-height: 0;
  width: 16px;
  height: 16px;
}

.user-list__text {
  display: none;
}
