*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-display: swap;
}
.badge {
  margin: 0;
  color: #7859cf;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.benefits__wrapper {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 20px 60px 20px;
}

.benefits__badge {
  margin-bottom: 4px;
}

.benefits__title {
  margin: 0;
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.benefits__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .benefits__wrapper {
    width: 768px;
    padding-top: 60px;
    padding-bottom: 100px;
    text-align: center;
  }

  .benefits__title {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 42px;
    line-height: 64px;
  }

  .benefits__list {
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 30px;
  }
}
@media (min-width: 1440px) {
  .benefits__wrapper {
    width: 1440px;
    padding: 100px 40px 120px 40px;
  }

  .benefits__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .benefits__title {
    margin-bottom: 80px;
  }
}
.benefit {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  padding-top: 66px;
}
.benefit::before {
  position: absolute;
  content: "";
  transform: translate(-50%, 0);
  top: 0;
  left: 50%;
  width: 52px;
  height: 56px;
}
.benefit--speed::before {
  background-image: url("../img/speed-icon.svg");
}
.benefit--convenience::before {
  background-image: url("../img/pocket-icon.svg");
}
.benefit--cheerfulness::before {
  width: 42px;
  background-image: url("../img/lighting-icon.svg");
}
.benefit--eco::before {
  background-image: url("../img/leaf-icon.svg");
}

.benefit__title {
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.benefit__description {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .benefit {
    padding-top: 0;
    padding-left: 72px;
    text-align: start;
    margin-bottom: 0;
  }
  .benefit::before {
    transform: translate(0, 0);
    top: 0;
    left: 0;
  }

  .benefit__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }

  .benefit__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .benefit {
    padding: 0;
    padding-top: 76px;
    text-align: center;
  }
  .benefit::before {
    transform: translate(-50%, 0);
    top: 0;
    left: 50%;
  }
}
.button {
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
}
.button--primary {
  background-color: #7859cf;
  color: #ffffff;
}
.button--secondary {
  background-color: #ffffff;
  color: #7859cf;
}

.catalog {
  background-color: #f8f8f8;
  text-align: center;
}

.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 50px 20px 44px 20px;
}

.catalog__badge {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.catalog__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.catalog__sorting-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.catalog__sorting-title {
  margin-right: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.catalog__sorting-select {
  position: relative;
  width: 165px;
  padding: 4px 10px;
  color: #7859cf;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  background-image: url("../img/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  -webkit-appearance: none;
          appearance: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.catalog__sorting-select:hover {
  background-color: #f0ebff;
}

.catalog__sorting-select:focus,
.catalog__sorting-select:focus-within {
  background-color: #f0ebff;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .catalog__wrapper {
    width: 728px;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 90px;
  }

  .catalog__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 64px;
  }

  .catalog__sorting-container {
    justify-content: flex-end;
    margin-bottom: 30px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 70px;
  }
}
@media (min-width: 1440px) {
  .catalog__wrapper {
    width: 1360px;
  }

  .catalog__title {
    margin-bottom: 40px;
  }

  .catalog__column-container {
    display: grid;
    grid-template-columns: 318px 1011px;
    column-gap: 30px;
  }

  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 60px;
  }
}
.contacts__text {
  margin: 0;
  padding-left: 19px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.contacts__text:last-child {
  margin-bottom: 0;
}

.copyright {
  text-align: center;
}

.copyright__link {
  color: #bdbdbd;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.copyright__icon {
  vertical-align: middle;
}

.form__wrapper {
  margin-bottom: 36px;
}

.form__fieldset-wrapper {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  border: none;
  text-align: start;
  margin: 0;
  padding: 0;
}

.form__legend {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.form__field {
  position: relative;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.form__field--radio {
  margin-bottom: 23px;
  padding-left: 34px;
}
.form__field--check {
  margin-bottom: 22px;
  padding-left: 54px;
}

.form__mark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.form__mark--radio {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: 2px solid #bdbdbd;
  border-radius: 50%;
}
.form__mark--check {
  width: 42px;
  height: 24px;
  background-color: #bdbdbd;
  border-radius: 12px;
}
.form__mark--check::before, .form__mark--check::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
}

.form__field--radio:hover .form__mark--radio,
.form__field--radio:focus .form__mark--radio,
.form__field--radio:focus-within .form__mark--radio {
  border-color: #9070ec;
}
.form__field--radio:hover .form__mark--radio::before, .form__field--radio:hover .form__mark--radio::after,
.form__field--radio:focus .form__mark--radio::before,
.form__field--radio:focus .form__mark--radio::after,
.form__field--radio:focus-within .form__mark--radio::before,
.form__field--radio:focus-within .form__mark--radio::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(120, 89, 207, 0.25);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__radio[type=radio]:checked + .form__mark--radio::before, .form__radio[type=radio]:checked + .form__mark--radio::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #7859cf;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__field--check:hover .form__mark--check,
.form__field--check:focus .form__mark--check,
.form__field--check:focus-within .form__mark--check {
  background-color: rgba(120, 89, 207, 0.25);
  border: 2px solid #9070ec;
}
.form__field--check:hover .form__mark--check::before, .form__field--check:hover .form__mark--check::after,
.form__field--check:focus .form__mark--check::before,
.form__field--check:focus .form__mark--check::after,
.form__field--check:focus-within .form__mark--check::before,
.form__field--check:focus-within .form__mark--check::after {
  left: 0;
}

.form__check[type=checkbox]:checked + .form__mark--check {
  background-color: #7859cf;
  border: none;
}
.form__check[type=checkbox]:checked + .form__mark--check::before, .form__check[type=checkbox]:checked + .form__mark--check::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.form__check[type=checkbox]:disabled + .form__mark--check {
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  cursor: text;
}
.form__check[type=checkbox]:disabled + .form__mark--check::before, .form__check[type=checkbox]:disabled + .form__mark--check::after {
  background-color: #f8f8f8;
}

.form__check[type=checkbox]:disabled:checked + .form__mark--check::before, .form__check[type=checkbox]:disabled:checked + .form__mark--check::after {
  background-color: #bdbdbd;
}

.form__radio:disabled ~ .form__label,
.form__check:disabled ~ .form__label {
  color: #bdbdbd;
  cursor: text;
}

.form__radio[type=radio]:disabled + .form__mark--radio {
  border-color: #e2e2e2;
  background-color: transparent;
  cursor: text;
}
.form__radio[type=radio]:disabled + .form__mark--radio::before, .form__radio[type=radio]:disabled + .form__mark--radio::after {
  display: none;
}

.form__radio[type=radio]:disabled:checked + .form__mark--radio {
  border-color: #e2e2e2;
  background-color: transparent;
}
.form__radio[type=radio]:disabled:checked + .form__mark--radio::before, .form__radio[type=radio]:disabled:checked + .form__mark--radio::after {
  display: block;
  background-color: #e2e2e2;
}

.form__range {
  margin: 0;
  padding: 0;
  margin-bottom: 24.5px;
}

.form__button {
  width: 160px;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
}
.form__button--submit {
  margin-bottom: 24.5px;
}

@media (min-width: 768px) {
  .form__wrapper {
    display: flex;
    flex-direction: column;
  }

  .form__container {
    display: flex;
    margin: 0;
    margin-bottom: 40px;
  }

  .form__legend {
    margin-bottom: 20px;
  }

  .form__range {
    width: 225px;
    margin-right: 21px;
  }

  .form__field {
    margin-bottom: 20px;
  }
  .form__field:last-child {
    margin-bottom: 0;
  }
  .form__field--radio {
    margin-right: 39px;
  }

  .form__button-wrapper {
    display: flex;
    justify-content: center;
  }

  .form__button {
    width: 148px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  .form__button:first-child {
    margin: 0;
    margin-right: 30px;
  }
  .form__button--submit {
    padding: 8px 3.5px;
  }
  .form__button--reset {
    width: 138px;
    padding: 8px 5.5px;
  }
}
@media (min-width: 1440px) {
  .form__container {
    flex-direction: column;
  }

  .form__fieldset {
    margin-bottom: 30px;
  }
  .form__fieldset:last-child {
    margin-bottom: 40px;
  }

  .form__range {
    width: 100%;
    margin: 0;
  }

  .form__button {
    width: 150px;
  }
  .form__button:first-child {
    margin: 0;
    margin-right: 18px;
  }
  .form__button--submit {
    padding: 8px 4.5px;
  }
  .form__button--reset {
    padding: 8px 11.5px;
  }
}
.range__container {
  margin-bottom: 35.5px;
}

.range__scale {
  position: relative;
  height: 2.09px;
  background-color: #e2e2e2;
}

.range__bar {
  position: absolute;
  height: 4.18px;
  width: 225px;
  background-color: #9070ec;
  top: -0.92px;
}

.range__toggle {
  position: absolute;
  margin: 0;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #9070ec;
}
.range__toggle--min {
  top: -11px;
  left: -12px;
}
.range__toggle--max {
  top: -11px;
  left: 213px;
}

.range__toggle:hover,
.range__toggle:focus,
.range__toggle:focus-within {
  cursor: pointer;
  outline: none;
}
.range__toggle:hover::before, .range__toggle:hover::after,
.range__toggle:focus::before,
.range__toggle:focus::after,
.range__toggle:focus-within::before,
.range__toggle:focus-within::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(120, 89, 207, 0.25);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.range__toggle:active::before, .range__toggle:active::after,
.range__toggle--active::before,
.range__toggle--active::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #7859cf;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.range--disabled .range__bar {
  background-color: #bdbdbd;
}

.range--disabled .range__toggle {
  border: 2px solid #bdbdbd;
  background-color: #f8f8f8;
  cursor: text;
}
.range--disabled .range__toggle::before, .range--disabled .range__toggle::after {
  background-color: transparent;
}

.range__input-container {
  display: flex;
  align-items: center;
}

.range__input-data {
  width: 118px;
  height: 38px;
  padding: 7px 10px;
  border: 2px solid #9070ec;
  border-radius: 4px;
  text-align: center;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.range__input-data::placeholder {
  color: #bdbdbd;
}

.range__input-data:hover,
.range__input-data:focus,
.range__input-data:focus-within {
  outline: none;
  border-color: #593cac;
}

.range--disabled .range__input-data,
.range__input-data:disabled {
  border-color: #e2e2e2;
  background-color: #f8f8f8;
  color: #bdbdbd;
}

.range__input-dash {
  margin-left: 17px;
  margin-right: 17px;
  position: relative;
  width: 8.81px;
  height: 2.09px;
  background-color: #bdbdbd;
}

@media (min-width: 768px) {
  .range__container {
    width: 240px;
    padding-left: 15px;
    padding-right: 21px;
  }

  .range__scale {
    height: 2px;
  }

  .range__bar {
    width: 177px;
    height: 4px;
  }

  .range__toggle--max {
    left: 164px;
  }

  .range__input-data {
    width: 93px;
  }

  .range__input-dash {
    width: 6.82px;
    margin-left: 14px;
    margin-right: 14px;
  }
}
@media (min-width: 1440px) {
  .range__container {
    width: 100%;
    padding: 0;
  }

  .range__scale {
    width: 100%;
    padding-left: 12px;
  }

  .range__bar {
    width: 274px;
  }

  .range__toggle--max {
    left: 262px;
  }

  .range__input-data {
    width: 134px;
  }

  .range__input-dash {
    width: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
}

.main-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 33px;
}

.main-footer__socials-wrapper {
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0ebff;
}

.main-footer__nav {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0ebff;
}

.main-footer__nav-badge {
  text-transform: none;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.main-footer__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer__nav-item {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 4px;
}
.main-footer__nav-item:last-child {
  margin-bottom: 0;
}

.main-footer__nav-link {
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    width: 728px;
  }

  .main-footer__socials-wrapper {
    padding-bottom: 32px;
    border: none;
  }

  .main-footer__nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .main-footer__nav {
    padding-bottom: 30px;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    width: 1360px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .main-footer__socials-wrapper {
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
  }

  .main-footer__logo {
    margin-bottom: 50px;
  }

  .main-footer__column-container {
    display: grid;
    grid-template-columns: 318px 1012px;
    gap: 30px;
  }
}
.main-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 60px;
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.main-header__logo {
  width: 32px;
  height: 36px;
  margin: 0;
  margin-left: 20px;
  margin-top: 12px;
}

@media (min-width: 768px) {
  .main-header__wrapper {
    width: 768px;
    min-height: 80px;
  }
}
@media (min-width: 1440px) {
  .main-header__wrapper {
    width: 1440px;
  }
}
.main-nav {
  position: relative;
  width: auto;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__toggle {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 60px;
  min-height: 60px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 22px;
  width: 16px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 5.25px 0 0 #000000, 0 10.5px 0 0 #000000;
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }
}
.page {
  height: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #333333;
}

.pagination__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination__button {
  position: relative;
  padding: 8px;
  min-width: 40px;
  min-height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.pagination__button--active {
  font-weight: 600;
  background-color: transparent;
  color: #333333;
}
.pagination__button--back::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 10px;
  height: 16px;
  background-image: url("../../img/dropdown.svg");
  background-repeat: no-repeat;
  transform: translate(-100%, -50%) rotate(90deg);
}
.pagination__button--forward::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 10px;
  height: 16px;
  background-image: url("../../img/dropdown.svg");
  background-repeat: no-repeat;
  transform: translate(0, -50%) rotate(-90deg);
}
.pagination__button--text {
  display: none;
}

@media (min-width: 768px) {
  .pagination__list {
    justify-content: flex-end;
  }

  .pagination__item {
    margin-right: 20px;
  }
  .pagination__item:last-child {
    margin-right: 0;
  }

  .pagination__button--back::before, .pagination__button--forward::before {
    display: none;
  }
  .pagination__button--text {
    display: inline;
    padding: 8px 20px;
  }
}
.product-card {
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 40px;
  background-color: #ffffff;
}

.product-card__link {
  text-decoration: none;
}

.product-card__image {
  margin: 0 auto;
}

.product-card__title {
  text-align: start;
  color: #333333;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.product-card__description {
  text-align: start;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.product-card__button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-card__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.product-card__button {
  position: relative;
  display: block;
  width: 141px;
  padding: 8px 20px;
  padding-left: 46px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.product-card__button::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 16px;
  top: 10px;
  left: 20px;
  background-image: url("../img/basket-button.svg");
}

@media (min-width: 768px) {
  .product-card {
    margin-bottom: 0;
    padding: 30px;
    padding-top: 50px;
  }

  .product-card__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }
}
.site-list {
  display: none;
  position: absolute;
  background-color: #ffffff;
  top: 60px;
  left: -140px;
  width: 320px;
}

.site-list__item {
  min-height: 57px;
  border: 1px solid #f0ebff;
  text-align: center;
}

.site-list__link {
  width: 320px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  padding-top: 20px;
  padding-bottom: 21px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
    position: static;
    width: 400px;
  }
}
@media (min-width: 1440px) {
  .site-list {
    width: 540px;
  }
}
.slide {
  display: none;
  text-align: center;
  padding: 310px 20px 60px 20px;
}
.slide--active {
  display: block;
}
.slide--flat-white {
  background-image: url("../img/flat-white-mobile.png");
  background-repeat: no-repeat;
  background-position: center 20px;
  background-color: #f3ebe1;
}
.slide--lavender {
  background-image: url("../img/lavender-mobile.png");
  background-repeat: no-repeat;
  background-position: center 20px;
  background-color: #eae6fc;
}
.slide--espresso {
  background-image: url("../img/espresso-mobile.png");
  background-repeat: no-repeat;
  background-position: center 20px;
  background-color: #e5e6e8;
}

.slide__badge {
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.slide__title {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}

.slide__description {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.slide__button-wrapper {
  display: flex;
  justify-content: center;
}

.slide__old-price {
  color: #7859cf;
  text-decoration: line-through;
  padding-right: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.slide__new-price {
  padding-right: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.slide__button {
  display: inline-block;
  width: 113px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .slide {
    padding: 60px 40px 496px 40px;
  }
  .slide--flat-white {
    background: url("../img/flat-white-tablet.png"), linear-gradient(#f3ebe1 70%, #ffffff 70%);
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .slide--lavender {
    background: url("../img/lavender-tablet.png"), linear-gradient(#eae6fc 70%, #ffffff 70%);
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .slide--espresso {
    background: url("../img/espresso-tablet.png"), linear-gradient(#e5e6e8 70%, #ffffff 70%);
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .slide__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
  }

  .slide__description {
    width: 608px;
    margin-left: 60px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }
}
@media (min-width: 1440px) {
  .slide {
    padding: 180px 80px 242px 735px;
    text-align: left;
  }
  .slide--flat-white {
    background: url("../img/flat-white-desktop.png"), #f3ebe1;
    background-repeat: no-repeat;
    background-position: 105px 30px;
  }
  .slide--lavender {
    background: url("../img/lavender-desktop.png"), #eae6fc;
    background-repeat: no-repeat;
    background-position: 105px 30px;
  }
  .slide--espresso {
    background: url("../img/espresso-desktop.png"), #e5e6e8;
    background-repeat: no-repeat;
    background-position: 105px 30px;
  }

  .slide__description {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 40px;
  }

  .slide__button-wrapper {
    justify-content: flex-start;
  }
}
.slider {
  margin: 0;
  padding: 0;
}

.slider__wrapper {
  width: 320px;
  margin: 0 auto;
}

.slider__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider__button {
  display: none;
}

.slider__toggles {
  display: none;
}

@media (min-width: 768px) {
  .slider__wrapper {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .slider__wrapper {
    width: 1440px;
  }
}
.socials__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 40px 40px 40px;
  grid-template-rows: 40px;
  gap: 20px;
  list-style: none;
}

.socials__item {
  text-align: center;
  padding: 10px;
}

.user-list {
  display: flex;
  margin: 0;
  margin-right: 60px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.user-list__item {
  list-style: none;
  padding: 22px;
}

.user-list__link {
  margin: 0;
  padding: 0;
  line-height: 0;
  width: 16px;
  height: 16px;
}

.user-list__text {
  display: none;
}
/*# sourceMappingURL=style.css.map */