//colors
$bg-color-main: #ffffff;
$bg-color-second: #f8f8f8;

$btn-color-main: #7859cf;

$text-color-main: #000000;
$text-color-second: #333333;
$text-color-badge: #7859cf;
$text-color-btn-main: #ffffff;
$text-color-btn-second: #7859cf;
$text-color-transparent: #bdbdbd;

//fonts
$main-font: "Montserrat", "Arial", sans-serif;


//Viewports
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;